/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*from 1024 to 1200px*/
@media screen and (max-width: 480px) {
  .row {
    padding: 0 2%;
  }
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
}
/* Small tablet and big tablet from 768 to 1023px*/
@media screen and (max-width: 1023px) {
  .row {
    padding: 0 2%;
  }
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  html {
    font-size: 18px;
  }
  section {
    padding: 50px 0;
  }
  .long-para {
    width: 80%;
    margin-left: 10%;
  }
  .steps-box {
    padding-left: 0;
    margin-bottom: 0;
  }
  .steps-box:first-child {
    margin-top: 5px;
  }
  .steps-box:last-child {
    margin-top: 5px;
  }
  .app-screen {
    width: 50%;
  }
  .works-step {
    margin-bottom: 30px;
  }
  .works-step:last-of-type {
    margin-bottom: 40px;
  }
  .icon-small {
    width: 20px;
    margin-right: 0px;
  }
  city-feature {
    font-size: 70%;
  }
  .plan-box {
    width: 100%;
    margin-left: 0;
  }
  .plan-price {
    font-size: 200%;
  }
  .content-form {
    width: 80%;
  }
}
/* Small phone and small tablet from 481 to 767px*/
@media screen and (max-width: 767px) {
  .row,
  .hero-text-box {
    padding: 0 4%;
  }
  html {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  .main-nav {
    display: none;
  }
  .long-para {
    width: 100%;
    margin-left: 0;
  }
  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }

  .app-screen {
    width: 70%;
    height: auto;
  }
  .steps-box:first-child {
    width: 70%;
    padding-left: 15%;
  }
  .steps-box:last-child {
    width: 100%;
  }
  .works-step {
    margin-bottom: 20px;
    padding-right: 0;
  }

  .works-step div {
    width: 40px;
    height: 40px;

    font-size: 25px;
  }
  .works-step:last-of-type {
    margin-bottom: 40px;
  }
  .cityimg {
    width: 100%;
    height: 50%;
  }
  .social-links {
    padding-top: 20px;
  }
}

/* Small phone from 0 to 480px*/
@media screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }
  .content-form {
    width: 100%;
  }
}
